
h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}


p {
  margin: 0;
}

body {
  margin: 0;
}

/* ----------- SPLASH SCREEN ------ */

.splash-screen-main {
  height: 100vh;
  color: #dfdfe5;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1533027052290-2b4ece075c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}

.splash-screen-main h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin: 20px;
}

.splash-screen-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, 0.8);
}

.splash-screen-inner p {
  font-size: 0.8em;
  padding-top: 10px;
}

.login-button {
  background: linear-gradient(  #f69d3c, #FF8C00);
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 40px;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.splash-screen-main a {
  color: #dfdfe5;
}

#signup {
  color: #FF8C00;
  
}

/* ----------- SIGN UP --------- */


.signup-main-container {
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #dfdfe5;
  text-align: center;
  padding-top: 10px;
}

.signup-main-container h2 {
  font-size: 2em;
  margin: 5px auto;
}

.signup-main-container input {
  background: #424242;
  border: none;
  color: #dfdfe5;
  margin: 10px auto;
  width: 100%;
  height: 30px;
  outline: none;
  padding-left: 10px;
}

.signup-main-container input::placeholder {
  padding-left: 10px;
}

.signup-inner-container {
  margin:  20px auto;
}

.signup-inner-container p {
  font-size: 0.8em;
  padding-top: 10px;
}

.signup-inner-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: auto;
}

.signup-button {
  background: linear-gradient(  #f69d3c, #FF8C00);
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 40px;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #dfdfe5;
  margin: 10px auto;
}

#login {
  color: #FF8C00;
}

.guide-logo {
  width: 50%;
  height: 30%;
  margin: 5px auto;
}

/* ----------- LOGIN --------- */

.login-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: auto;
  background: rgba(33, 33, 33, 1);
}

.login-main h2 {
  font-size: 2em;
  color: #dfdfe5;
}

.login-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-main input {
  background: #424242;
  border: none;
  color: #dfdfe5;
  margin: 10px auto;
  width: 50%;
  height: 30px;
  outline: none;
  padding-left: 10px;
}

.login-main button {
  margin-bottom: 15px;
}

.login-main input::placeholder {
  padding-left: 10px;
}

.login-main p {
  font-size: 0.8em;
  color: #dfdfe5;
  padding-top: 10px;
}


/* ---------- NAVBAR ---------- */

.navbar {
  background: rgba(0, 0, 0, 1);
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 10px;
  width: 100%;
  height: 40px;
}

.navbar p {
  color: #dfdfe5;
  margin-top: 5px;
}

#username {
  margin: 5px 60px;
}

/* -------- HOME ------------ */

.home-main-div {
  background: #303030;
  width: 100%;
  height: 100vh;
}

.home-inner-div {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.home-inner-div h1 {
  font-size: 2em;
  color: #dfdfe5;
  opacity: 0.9;
  padding-top: 40px;
  text-transform: uppercase;
}

.home-inner-div input {
  background: #424242;
  border: none;
  margin-top: 20px;
  height: 30px;
  width: 60%;
  outline: none;
  color: #dfdfe5;
  opacity: 0.8;
  margin-bottom: 10px;
  padding-left: 10px;
}

.home-inner-div input::placeholder {
  padding-left: 10px;
}

#kill-button {
  color: #dfdfe5;
  opacity: 0.7;
  margin: 0;
  position: fixed;
  top: 165px;
}

.guide-card {
  background: #424242;
  width: 70%;
  margin: 10px auto;
  padding: 5px;
}

.guide-card h4 {
  font-size: 0.8em;
  color: #dfdfe5;
  opacity: 0.7;
  text-transform: uppercase;
}

.guide-card p {
  font-size: 0.7em;
  color: #dfdfe5;
  opacity: 0.7;
  margin: 3px auto;
}

.guide-card a {
  text-decoration: none;
  text-transform: lowercase;
  color: #FF8C00;
  font-size: 0.7em;

}

/* -------- OWN GUIDES ------- */

.my-guides-main {
  width: 100%;
  height: 100vh;
  background: #303030;
  text-align: center;
}

.my-guides-main h2 {
  color: #dfdfe5;
  opacity: 0.9;
  padding-top: 20px;
  font-size: 2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.my-guides-main button {
  color: #FF8C00;
  opacity: 0.9;
  margin-bottom: 10px;
}

.my-guides-main input {
  background: #424242;
  border: none;
  opacity: 0.8;
  outline: none;
  width: 50%;
  height: 30px;
  margin: 10px auto;
  color: #dfdfe5;
  padding-left: 10px;
}

.my-guides-main label {
  color: #dfdfe5;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;

}

.own-guides-div {
  background: #424242;
  margin: 10px auto;
  width: 70%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.delete-btn button {
  color: #dfdfe5;
  margin-bottom: 30px;
  position: fixed;
  left: 295px;
  font-size: 0.5em;
  opacity: 0.6;
}

.own-guides-div a {
  text-decoration: none;
  text-transform: lowercase;
  color: #FF8C00;
  opacity: 0.9;
  font-size: 0.8em;
}

.own-guides-div h4 {
  color: #dfdfe5;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0.9;
}

.own-guides-div p {
  color: #dfdfe5;
  font-size: 0.8em;
  opacity: 0.7;
}



/* ------ CREATE GUIDE ------ */

.create-guide-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-guide-form input {
  border: 1px solid black;
}

/* --------- EDIT GUIDE --------- */

.edit-main-div {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #303030;
}


.edit-main-div input::placeholder {
  padding-left: 10px;
}

.edit-main-div textarea::placeholder {
  padding-left: 10px;
}

.edit-main-div textarea {
  background: #424242;
  border: none;
  width: 70%;
  outline: none;
  color: #dfdfe5;
  opacity: 0.8;
}

.edit-main-div form {
  text-align: center;
  padding-left: 75px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.edit-main-div h2 {
  color: #dfdfe5;
  font-size: 2em;
  opacity: 0.9;
  padding-top: 15px;
  padding-block-end: 10px;
  text-transform: uppercase;
}

.edit-form input {
  margin: 10px 0;
  height: 30px;
  padding-left: 10px;
  background: #424242;
  border: none;
  width: 70%;
  outline: none;
  color: #dfdfe5;
  opacity: 0.8;
}

.edit-form textarea {
  margin: 10px 0;
  padding-left: 10px;
  padding-top: 5px;
}

#edit {
  width: 30%;
  background: none;
  border: none;
  color: #FF8C00;
  opacity: 0.9;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 95px;
  outline: none;
}

.places-div {
  background: #424242;
  width: 80%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.places-div h4 {
  color: #dfdfe5;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 0.8em;
}

.places-div p {
  color: #dfdfe5;
  opacity: 0.6;
  font-size: 0.7em;
  padding-top: 5px;
}

#remove-place {
  color: #FF8C00;
  opacity: 0.9;
}

/* ----------- GUIDE DETAIL ---- */

.guide-detail-main {
  width: 100%;
  height: 100vh;
  background: #303030;
  text-align: center;
  padding-top: 20px;
}

.guide-detail-main h1 {
  color: #dfdfe5;
  opacity: 0.8;
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.guide-detail-main h4 {
  color: #dfdfe5;
  opacity: 0.8;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.guide-detail-main p {
  color: #dfdfe5;
  opacity: 0.6;
  font-size: 0.9em;
  padding-bottom: 10px;
}

.guide-detail-main button {
  color: #FF8C00;
  opacity: 0.9;
  margin-top: 10px;
}

/* ------ FAVORITE ------ */

.favorite-main-div {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #303030;

}

.favorite-main-div h2 {
  color: #dfdfe5;
  opacity: 0.8;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 20px;
}

/* ------- FO0TER ----------- */


.footer-menu {
  position: fixed;
  top: 630px;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  margin: 0;
  height: 50px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


#heart {
  color: #dfdfe5;
  padding-top: 10px;
  padding-left: 30px;
}

#favorite {
  color: #dfdfe5;
  padding-top: 10px;
  padding-right: 30px;
}

#home {
  color: #dfdfe5;
  padding-top: 10px;
}

